
body {
  background-color: #1565c0;
}

.login-center{
  position: absolute;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 600px;
  height: 100px;
  border-radius: 3px;
  text-align: center;
}

.login-text {
  color: white;
}

.big-text {
  font-size: 25px;
  padding: 20px;
}

.green {
  color: lightgreen;
  text-align: center;
}

.text-center{
  text-align: center;
  margin-top: 100px;
}

.question-title {
  background-color: white;
  color: black;
  width: 500px;
  height: 100px;;
  margin-bottom: 20px;
  margin-left: 30vw;
  text-align: left;
  padding: 20px;
}

.question-content {
  background-color: white;
  color: black;
  width: 500px;
  margin-left: 40%;
  margin-bottom: 20px;
  height: 200px;
  margin-left: 30vw;
  text-align: left;
  padding: 20px;
}

.center {
  text-align: center;
}